<!DOCTYPE html>
<html lang="en-US">
	<title>Timothy Joseph O'Connell and Charlotte Yvonne Barnes</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-animate.min.js"></script>

    <!-- angularjs app import, followed by JSON imports -->
    <script src="app.js"></script>

    <link rel="stylesheet" type="text/css" href="style.css">

	<!-- google fonts ! -->
    <link href="https://fonts.googleapis.com/css?family=Ruda" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Poiret+One" rel="stylesheet">


    <!-- body starts -->
    <body ng-app="weddingApp" ng-controller="bodyController">

        <div class="title_splash">
            <div class="title_splash_title_text">
                Timothy & Charlotte
        </div>
            <div class="title_splash_subtitle">
                August 4, 2018
            </div>
        </div>

		<div id="rsvpSuccessModal" class="hidden clickable modal" ng-click="showHide('rsvpSuccessModal')">
			<div class="modal_content rsvp_success">
				<img src="/media/rsvp_success.jpg"/ class="rsvp_success">
				<h1>Thank You!</h1>
				<h2>We have your RSVP</h2>
				<p>Click anywhere to continue.</p>
			</div>
		</div>

        <div class="nav_bar">
            <div
                class="clickable nav_button"
                ng-repeat="tab in tabs"
                ng-click="setActiveTab(tab.id)"
                ng-class="{active: scratch.activeTab === tab.id}"
            >
                {{tab.title}}
            </div>
        </div>

        <div
            id="infoTab"
            class="tab"
            ng-repeat="tab in tabs"
            ng-if="scratch.activeTab === tab.id"
			ng-init="getStub()"
        >
            <h2>{{tab.subtitle}}</h2>
			<div ng-include="'html/' + tab.id + '.html'"></div>
        </div>


        <div class="footer">
            <a href="http://toconnell.info" target="top">
                <div>design: "22"</div>
            </a>
            <a href="https://github.com/toconnell/wedding" target="top">
                <div>source code on github</div>
            </a>
        </div>


    </body>
</html>
