<div
	id="RSVPcontainer"
	class="rsvp_form_container hidden"
	ng-controller="formController"
	ng-init="showSheet(0)"
>

	<div class="rsvp_form_sheet">
		<h2>Guests</h2>
		<div class="rsvp_guest ng_fade" ng-repeat="guest in guestList">
			<p class="rsvp_question"><input class="rsvp_guest_name" ng-model="guest.name" placeholder="Guest Name" required/></p>

			<p class="rsvp_question" ng-init="typeOptions = ['adult','under 12']">
				<span ng-repeat="option in typeOptions">
					<input
						id="guest_{{guest.id}}_type_{{option}}"
						type="radio"
						name="guest_{{guest.id}}_type"
						ng-model="guest.type"
						value="{{option}}"
					/>
					<label
						for="guest_{{guest.id}}_type_{{option}}"
						class="clickable"
						ng-class="{gradient_gold: guest.type === option}"
						ng-click="guest.meal = 'chicken'"
					>
						{{option}}
					</label>
				</span>
			</p>
			<div 
				class="clickable rm_guest"
				ng-click="rmGuest($index)"
				ng-if="guest.name == undefined"
			>
				x
			</div>
			<p class="rsvp_question" ng-init="mealOptions = ['chicken','beef','vegetarian']">
				<span ng-repeat="option in mealOptions">
					<input
						id="guest_{{guest.id}}_meal_{{option}}"
						type="radio"
						name="guest_{{guest.id}}_meal"
						ng-model="guest.meal"
						value="{{option}}"
					/>
					<label
						for="guest_{{guest.id}}_meal_{{option}}"
						class="clickable"
						ng-class="{
							hidden: option != 'chicken' && guest.type == 'under 12',
							gradient_gold: guest.meal === option
						}"
					>
						{{option}}
					</label>
				</span>
			</p>
		</div>
		<h2 ng-if="guestList.length > 0">Confirmation Email (optional)</h2>
		<p class="rsvp_question center" ng-if="guestList.length > 0">
			<input class="rsvp_guest_email" type="email" ng-model="scratch.confirmationEmail" placeholder="email" />
		</p>
	</div>


	<div class="rsvp_form_sheet">
		<h2>Confirmation</h2>
		<table class="guest_list_review">
			<tr><th>Guest</th><th>Type</th><th>Meal</th></tr>
			<tr ng-repeat="guest in guestList">
				<td style="border:none;">{{guest.name}}</td>
				<td>{{guest.type}}</td>
				<td>{{guest.meal}}</td>
			</tr>
		</table>
		<p class="rsvp_error" ng-if="scratch.submitDisabled">
			Please return to the previous sheet and complete all fields before submitting your RSVP!
		</p>
		<p class="rsvp_question center" ng-if="scratch.confirmationEmail == undefined">
			No confirmation email requested.
		</p>
		<p class="rsvp_question center" ng-if="scratch.confirmationEmail != undefined">
			Send a confirmation email to <b>{{scratch.confirmationEmail}}</b>.
		</p>
	</div>


	<!-- nav buttons -->
	<div class="rsvp_form_nav_container">
		<button
			ng-if="scratch.currentSheet === 0"
			ng-click="addGuest()"
			class="clickable rsvp_form_nav"
		>
			+ Add Guest
		</button>
	    <button
			ng-if="scratch.currentSheet < scratch.sheets.length - 1 && guestList.length > 0"
			ng-click="showSheet(scratch.currentSheet + 1); validateRSVP()"
			class="clickable rsvp_form_nav"
		>
			Next
		</button>
		<button
			ng-if="scratch.currentSheet > 0"
			ng-click="showSheet(scratch.currentSheet - 1)"
			class="clickable rsvp_form_nav"
		>
			Previous
		</button>
	    <button
			ng-if="scratch.currentSheet === scratch.sheets.length - 1 && scratch.submitDisabled === false"
			ng-click="submitSheet()"
			class="clickable rsvp_submit rsvp_form_nav gradient_gold"
		>
			Submit
		</button>
    </div>

	<!-- step container -->
	<div class="rsvp_form_step_container">
		<span
			class="step"
			ng-repeat="sheet in scratch.sheets"
			ng-class="{active: scratch.currentSheet == $index}"
		></span>
	</div>

</div>
